


.friend_title{
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.4rem;
    
}

.friend_add {
    height: auto;
    display: flex;
    flex-direction: column;
    padding:1.6rem ;
    background-color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--primary);
    margin-bottom: 2.4rem;
    
}

.friend_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
}

.friend_add_profile {
    display: flex;
    gap: 0.8rem;
}

.friend_add_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 4px;
    background-color: var(--primary);
    cursor: pointer;
    transition: .5s;
}

.friend_add_icon:hover {
    transform: scale(0.95);
}

.friend_add_icon img{
    width: 2.4rem;
    height: 2.4rem;
}

.friend_add_description{
    align-self: center;
}

.friend_add_description h2{
    font-size: 1.9rem;
    font-weight: 700;
}

.friend_add_description p{
    font-size: 1.2rem;
    font-weight: 500;
}

.button{
    width: 100%;
    height: 4.8rem;
    
    border: none;
    border-radius: 4px;
    padding: 14px 28px;

    background-color: var(--paragraph);
    color: var(--white);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.blog_container {
    height: auto;
    border: solid var(--primary) 1px;
    border-radius: 4px;
    background-color: var(--white);
}

.blog_title {
    width: 23.8rem;
    font-size: 2.3rem;
    margin: 1.6rem 3.7rem 2.4rem 1.6rem;

}

.topic {
    margin: 0 1.6rem 2.4rem;
}

.topic h2{
    font-size: 1.2rem;
}

.topic p{
    font-size: 1rem;
}