/* PRIMEIRA QUESTÃO */
.tabela{
    display: table;
}

.coluna{
    padding: 10px;
    display: table-cell;
    border: 1px solid black;
}

.linha:nth-of-type(odd){
    background-color: #E0E0E0;
}
/* FIM DA PRIMEIRA QUESTÃO */



/* SEGUNDA QUESTÃO */
*{
    margin:0;padding:0;border:0;
}
    
main{
    height:200vh;
}
    
nav{
    margin:20px 0;
    background:blue;
    position:sticky;
    top:0;
}
    
nav ul li{
    display:inline;
    color:#FFF;
}
/* FIM DA SEGUNDA QUESTÃO */




/*TERCEIRA QUESTÃO */
#box1{
    background-color:blue;
    width:200px;
    height:200px;
    color:white;
    text-align:center;
    font-size:30px;
    float:right;
    }
    
#box2{
    background-color:red;
    width:200px;
    height:200px;
    color:white;
    text-align:center;
    font-size:30px;
    float:left;
}